
.container {
  display: flex;
  flex-direction: column;
  padding: $padding;
  gap: $gap;
  // border: 1vh solid $color;
}

[class^="block-"] {
  display: flex;
  flex-direction: row;
  gap: $gap;
  height: (100vh -$gap * 2 -$padding * 2)/3;

  @include query(mobile) {
    flex-direction: column;
  }
}

[class^="box-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1vh solid $color;
  background-color: #c1c1c1;
}

.box-1 {
  flex-basis: 100%;
}

.box-2,
.box-5 {
  flex-basis: 70%;
}
.box-3,
.box-4 {
  flex-basis: 30%;
}

@include query(mobile) {
  .block-2 {
    height: (100vh * 2)/3;
  }
  .block-3 {
    flex-direction: row;
  }
  .box-2,
  .box-3,
  .box-4,
  .box-5 {
    flex-basis: 50%;
  }
}
